/.idea
/.phpint
/.vscode
/.vagrant
/node_modules
/public/hot
/public/css
/public/images
/public/js
/public/storage
/webStorm.config.js
.DS_Store
.idea
/storage/*.key
/vendor

.env
.env.testing
.phpintel
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
phpunit
build
coverage
yarn-error.log
_ide_helper.php
/storage/
